{% extends 'polls/base.html' %}

{% block content %}
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../static/images/mainPhoto.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<img src="../static/images/anbLogoW2.png" alt="A & B ">
							<h2>Welcome to the Alex & Bonnie wedding website!<br>We are so excited to be tying the knot and celebrating with you!<br>Please check back for updates and make sure to RSVP.<br><br>Cheers!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<img src="../static/images/ItsOurTurn.png" alt="It's Our Turn">
					<h3>August 12th, 2017<br>Seattle, WA</h3>
					<p>We are thrilled to share this day with our friends and family!</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="images/groom.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Alex Kushner</h3>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="images/bride.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Bonnie Lee</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(../static/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Chewish Wedding</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-12">
							<div class="col-md-6 col-sm-12 text-center">
								<div class="event-wrap animate-box">
									<h3>Schedule</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>6:00 PM</span>
										<span>6:30 PM</span>
										<span>7:45 PM</span>
										<span>11:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span style="text-align: left;">Guests to Arrive</span>
										<span style="text-align: left;">Ceremony Begins</span>
										<span style="text-align: left;">Reception, Dinner & Dancing</span>
										<span style="text-align: left;">After Party @ TBD</span>
									</div><br>
									<p>OLYMPIC SCULPTURE PARK<br>
									<a href="https://www.google.com/maps/place/Olympic+Sculpture+Park/@47.6165126,-122.3576973,17z/">2901 Western Avenue<br>Seattle, WA 98121</a></p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Info</h3>
									<p>PARKING<br>
									Limited parking is available for purchase at the Olympic Sculpture Park.
										Street parking is also available on Western Avenue.
										We highly recommend using <a href="http://www.lyft.com/">Lyft</a> or <a href="http://www.uber.com">Uber</a> to get to the wedding. #safetyfirst</p>
									<p>ATTIRE<br>
									Our wedding will take place both indoors and outdoors. Dress like you mean it. Cocktail attire, but bright colors are encouraged. Please don’t wear black, it’s bad luck in Chinese culture. #bonnieleeyall</p>
									<p>Please note that we request adults only for this event.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	{% endblock %}
